@page
@model Beryl.Pages.ViewRedirectModel

@{
    ViewData["Title"] = "Link";
}

@section Scripts {
    @if (Model.RedirectTimeSeconds != null)
    {
        var c = $"{Model.RedirectTimeSeconds};URL='{Model.RedirectLink.Url}'";
        <meta http-equiv="refresh" content="@c" />
    }
}

<pre><code>
Link: <a href="@Model.RedirectLink.Url" target="_blank">@Model.RedirectLink.Url</a>
------------
@Model.RedirectLink.Description
</code></pre>
